<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-toolbar color="primary">
        <span style="font-size: 18px;"><img class="image1" src="assets\planning.png" alt="Image"></span>
        <span style="margin-left: 600px;">KANBAN BOARD</span>
        <div><div class="SignUp">
        <button matTooltip="SignUp" mat-raised-button aria-label="SignUp Button" style="border-radius: 12px;" color="warn" routerLink="/SignUpView">SignUp</button>
        <button matTooltip="LogIn" class="LogIn" mat-raised-button aria-label="LogIn Button" style="border-radius: 12px;" color="warn" routerLink="/LogInView">LogIn</button>
        <a href="#aboutus"><button style="margin-left: 25px; border-radius: 12px;" matTooltip="About Us" mat-raised-button aria-label="About Us Button" color="warn">About Us</button></a>
        <a href="#features"><button style="margin-left: 25px; border-radius: 12px;" matTooltip="Features" mat-raised-button aria-label="Features Button" color="warn">Features</button></a>
        </div>
        </div>
    </mat-toolbar>
      
      <div id="aboutus">
        <div class="topmosttext">
            <h1>KANBAN PROJECT MANAGEMENT. SIMPLIFIED .</h1>
            <hr>
            <h4>Creating a Shared Virtual Space Where Work Can Live</h4>
        </div>
        <img src="assets\kanbanblueimage.webp" alt="Image" class="img1">
      </div>
      
      <div class="thirdportion" style="background-color: #bedff5;" id="features">
        <span class="text">
            <span>Visualize Your Work With Kanban</span><br><br><br>
            <p>The Kanban Board Gives You An Excellent <br><br><strong style="color: black; background-color: bisque">Overview</strong> Of Your Current Work Situation. <br><br><br>
              Visualization is An Adaptable Technique <br><br>that Uses Visual Cues and Flows to Depict Every Step of a <br><br>Process and Enhance Project Management
            <strong style="color: black; background-color: bisque">Productivity</strong>.</p>
        </span>
        <div class="img">
            <img src="\assets\thirddportionimg.png" style="height: 350px;width: 600px;" alt="Image">
        </div>
      </div>
      
      <div class="forthportion">
        <div class="img">
            <img src="\assets\forthportionimg.png" style="height: 350px;width: 600px;" alt="Image">
        </div>
        <span class="text">
            <span>Stop Starting. Start Finishing.</span><br><br><br>
            <p> <strong style="color: black; background-color: bisque">Limit Your Work-in-Progress</strong> and Get More <br><br>Done. Get a <strong style="color: black; background-color: bisque">Better Flow</strong> on Your Kanban Board <br><br>by
                Focusing on Completing Tasks Instead of <br><br>Starting New Tasks. <br><br><br>
                Delivering Value More Often Will Lead to <br><br> <strong style="color: black; background-color: bisque">Reduced Risk</strong> For Your Project and Put <strong style="color: black; background-color: bisque">Less Stress</strong><br><br>
                on Your Team. Your Customers Will be <br><br>Happier. You Will be Happier.</p>
        </span>
      </div>
      
      <div class="fifthportion" style="background-color: #dceeb1;">
        <span class="text">
            <span>Powerful Integrations</span><br><br><br>
            <p>You Can Integrate KanbanFlow With Other <br><br>Systems in Many Different Ways: <br><br><br>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check"
                    viewBox="0 0 16 16">
                    <path
                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                </svg>REST-Based <strong style="color: black; background-color: bisque; ">API</strong> With Webhook Support. <br><br>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check"
                    viewBox="0 0 16 16">
                    <path
                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                </svg>Add Tasks By <strong style="color: black; background-color: bisque; ">Email</strong>.<br><br>
            </p>
        </span>
        <div class="img">
            <img src="\assets\sixthportionimg.png" style="height: 350px;width: 600px;" alt="">
        </div>
        
        <div class="abovefooter">
            <h1>Boost Your Productivity Today!</h1><br>
            <h4>KanbanFlow is Simple to Use, Yet Flexible Enough for Most Needs. You Will be Up and Running in a Few
                <br><br> Minutes After You have Signed Up. That’s how a KanbanFlow Project Management Tool Should Work.
            </h4>
        </div>
      </div>
      
      <footer>
          <div class="footerclass">
              <span>
                  <span class="material-icons mailicons">mail</span><span class="mailtext"> <a class="link" href="https://www.google.com/gmail/about/">hello@kanbanflow.com</a></span>
              </span>
              <span>
                  <span class="material-icons fbicons">facebook</span><span class="fbtext"> <a class="link" href="https://www.facebook.com/">Facebook</a></span>
              </span>
              <span>
                <span class="material-icons yticons">cloud</span><span class="yttext"> <a class="link" href="https://github.com/">GitHub</a></span>
              </span>
              <span class="copyrightcls">&copy; 2011-2022 CodeKick AB. All rights reserved. | <a class="link" href="https://en.wikipedia.org/wiki/Terms_of_service#:~:text=A%20terms%20of%20service%20agreement%20typically%20contains%20sections,User%20notification%20upon%20modification%20of%20terms%2C%20if%20offered">Terms of Service</a> | <a class="link" href="https://en.wikipedia.org/wiki/Privacy_policy">Privacy Policy</a> 
              </span>
          </div>
      
      </footer>
</body>
</html>
