h2 {
    text-align: center;
    text-decoration: underline;
    color: #6e81d8;
}

form {
    text-align: center;
    background-color: #6e81d8;
    border-radius: 15px;
}

.addButton {
    position: sticky;
    left: 200px;
    color: #6e81d8;
    border-radius: 20px;
    box-shadow: 0 0 10px #a9b4e4;
    
}

.close {
    position: sticky;
    left:320px;
    top:10px;
    color: #6e81d8;
}